/*
wood brown: A89F68;
army green: 41521F;
*/

*{
	font-family: 'Roboto', sans-serif;
}
.first-section{
	background-image: url(../img/portada.jpg);
	background-size: cover;
	background-position: bottom;
	height: 100vh;
	background-repeat: no-repeat;
}
.white h2,.white h4,.white a{
	color: #A89F68;
}

.brown h2,.brown h4,.brown a{
	color: #41521F;
}
.brown p,.brown h6{
	color: #fff;
}
.bold{
	font-weight: 900;
}
.btn-see-more{
	color: #FFF;
	background-color: #41521F;
	width: auto;
}
.btn-see-more:hover{
	background-color: #FFF;
	color: #41521F;
}

.img-responsive{
	width: 100%;
}

/*Nav*/
.navbar-default{
	background-color: transparent;
	border: none;
	padding: 0 50px;
	color: #fff;
	position: absolute;
}
.navbar-default.navbar ul li a{
	color: #fff;
}
.navbar-default h4{
	padding: 5px;
	float: left;
	color: #fff;
}
.navbar-default.navbar ul li a:hover{
	border-bottom: 3px solid #fff;
	color: #fff;
}
.navbar-default .navbar-toggle .icon-bar{
	background-color: #fff;
}

/*Header*/
.title-one{
	color: #fff;
}
.brown .tittle-first{
	color: #FFF;
	font-weight: bold;
	padding-top: 230px;
}
.features{
	padding: 0.8em;
}

.features p{
	padding: 0;
	margin-bottom: 1em;
	font-weight: 300;
	font-size: 18px;
	line-height: 28px;
	color: #FFF;
	margin-top: 1em;
}

 .fourth-section{
 	background-color: #A89F68;
 	padding: 8em 0;
 	background-size: cover;
 	background-position: bottom;
	height: 100vh;
	background-repeat: no-repeat;
 }
#baby{
	width: 100%;
 	border:solid 8px whitesmoke;

}
#save{
 	background-color: #41521F;
 	border:none;
 	color: white;
 	width: auto;
 }
.easy {
 	color:white;
 }

 .titulo-save{
 	color:white;
 	font-size: 1em;
 	font-weight: 700;
 	padding-bottom: 1em;
 	text-align: 15px;
 }
 
 .subtitulo-save{
 	color:#41521F;
 	font-weight: 700;
 	font-size: 1.5em;
 }
 
 .fouth-section p{
 	color:white;
 }

 #porfiado{
 	color:white;
 }
 /*section HELP*/
.five-section{
	background-image: url(../img/all.jpg);
    height: 700px;
    background-size: cover;
    padding: 6em 0;
    color:white;
}

.five-section h3{
	font-size: 1em;
}

.comillas-text{
	font-size: 1.5em;
	font-weight: 700;
	text-shadow: 1px 2px 2px black;
}
/*six-section*/
.seccion-6{
	padding: 5em 0;
}

.titulo-help{
	padding-bottom: 3em;
	color:#A89F68;
}

.fa {
	color:#A89F68;
	padding-bottom: 0.5em;
}

.seccion-6 p{
	color: grey;
}
 .seccion-7{
 	background-color: #A89F68;
 	padding: 5em 0;
 }
 
 .donar-plan{
 	font-size: 0.8em;
 	letter-spacing: 4px;
 	font-weight: 700;
 	padding-right:22px;
 }
 
 .valor{
 	font-size: 4em;
 }
 
 .precio{
 	color: white;
 	font-size: 6em;
 }
 
 .currency{
 	font-size: 16px;
 	top: -3em;
 	right: 0.5em;
 }
 
 .precio small{
 	font-size: 14px;
 }
 
 .caja-donar p{
 	font-size: 0.9em;
 }
 
 .caja-donar a{
 	background-color:#41521F ;
 	padding: 8px 12px;
 	border-radius: 5px;
 	color: white;
 	border:none;
 }
 
 .negrita{
 	font-weight: 700;
 }
 
 .seccion-7 .titulo-help{
 	padding-bottom: 1em;
 	color:#41521F;
 }
 /*seccion FOOTER*/
 footer{
 	background-color: #41521F;
 	padding: 5em 0;
 }
 
 footer .sobre{
 	color: #A89F68;
 	font-size: 1em;
 }
 
 footer p{
 	color: white;
 	font-size: 1em;
 }
 
 footer a{
 	color:#A89F68;
 }
 
 footer a:hover{
 	color:white;
 }
 
 footer .menu-footer{
 	padding-top:2em;
 }
 
 footer .menu-footer li{
 	list-style-type:none;
 	font-size: 1em;
 	padding:0.4em;
 }
 