/*
wood brown: A89F68;
army green: 41521F;
*/

*{
	font-family: 'Roboto', sans-serif;
}
.first-section{
	background-image: url(../img/portada.jpg);
	background-size: cover;
	background-position: bottom;
	height: 100vh;
	background-repeat: no-repeat;
}
.white h2,.white h4,.white a{
	color: #A89F68;
}

.brown h2,.brown h4,.brown a{
	color: #41521F;
}
.brown p,.brown h6{
	color: #fff;
}
.bold{
	font-weight: 900;
}
.btn-see-more{
	color: #FFF;
	background-color: #41521F;
	width: auto;
}
.btn-see-more:hover{
	background-color: #FFF;
	color: #41521F;
}

.img-responsive{
	width: 100%;
}

/*Nav*/
.navbar-default{
	background-color: transparent;
	border: none;
	padding: 0 50px;
	color: #fff;
	position: absolute;
}
.navbar-default.navbar ul li a{
	color: #fff;
}
.navbar-default h4{
	padding: 5px;
	float: left;
	color: #fff;
}
.navbar-default.navbar ul li a:hover{
	border-bottom: 3px solid #fff;
	color: #fff;
}
.navbar-default .navbar-toggle .icon-bar{
	background-color: #fff;
}

/*Header*/
.title-one{
	color: #fff;
}
.brown .tittle-first{
	color: #FFF;
	font-weight: bold;
	padding-top: 230px;
}
.features{
	padding: 0.8em;
}

.features p{
	padding: 0;
	margin-bottom: 1em;
	font-weight: 300;
	font-size: 18px;
	line-height: 28px;
	color: #FFF;
	margin-top: 1em;
}

 .fourth-section{
 	background-color: #A89F68;
 	padding: 8em 0;
 	background-size: cover;
 	background-position: bottom;
	height: 100vh;
	background-repeat: no-repeat;
 }
#baby{
	width: 100%;
 	border:solid 8px whitesmoke;

}
#save{
 	background-color: #41521F;
 	border:none;
 	color: white;
 	width: auto;
 }
.easy {
 	color:white;
 }

 .titulo-save{
 	color:white;
 	font-size: 1em;
 	font-weight: 700;
 	padding-bottom: 1em;
 	text-align: 15px;
 }
 
 .subtitulo-save{
 	color:#41521F;
 	font-weight: 700;
 	font-size: 1.5em;
 }
 
 .fouth-section p{
 	color:white;
 }

 #porfiado{
 	color:white;
 }